.container {
  width: 80%;
  min-height: 100px;
  margin: auto;
  border: 1px solid #000;
  padding: 10px;
}
.container h1 {
  text-align: center;
}
.form-data {
  width: 98%;
  min-height: 100px;
  /* border: 1px solid red; */
  padding: 10px;
}
.form-data table {
  width: 100%;
  border-collapse: collapse;
}
.form-data table,
tr,
td {
  border: 1px solid #000;
  padding: 10px;
}
.td-style {
  text-align: start;
}
input[type="text"] {
  padding: 8px;
  width: 60%;
}
.qual {
  width: 100%;
}
.qual th,
tr,
td {
  border: 1px solid lightgray;
  padding: 10px;
  text-align: center;
}
