@import url("https://fonts.googleapis.com/css2?family=Strichpunkt+Sans:wght@400..900&display=swap");

* {
  font-family: "Strichpunkt Sans", sans-serif;
}
body {
  background-color: #7986cb;
}
.container {
  width: 60%;
  min-height: 100px;
  border: 1px solid lightgray;
  margin: auto;
  padding: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container h1 {
  text-align: center;
  font-weight: 700;
  text-shadow: 0px 5px 5px gray;
  text-transform: uppercase;
}
.form-data {
  width: 98%;
  min-height: 100px;
  /* border: 2px solid red; */
  padding: 10px;
}
.form-data table {
  width: 100%;
  /* border: 1px solid #000; */
  border-collapse: collapse;
}
.form-data table,
tr,
td {
  border: 1px solid lightgray;
  padding: 10px;
}
.td-width {
  width: 20%;
}
.valid {
  color: red;
  font-style: italic;
  font-size: 12px;
}
input[type="text"],
input[type="number"],
input[type="date"],
input[type="Email"] {
  width: 60%;
  padding: 6px;
}
.class {
  width: 61.5%;
  padding: 6px;
}
.add {
  width: 60%;
  padding: 6px;
}

.submit {
  width: 20%;
  padding: 10px 0px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 16px;
}
.submit:hover {
  background-color: crimson;
  color: white;
}
.clear {
  width: 20%;
  padding: 10px 0px;
  background-color: olivedrab;
  color: white;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 16px;
  margin-left: 10px;
}
.text-shadow {
  /* box-shadow: 5px 5px 5px gray; */
  /* outline: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-color: lightgray; */
}
